<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %logger{36}:%L - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="io.github.dbstarll.chat" level="debug"/>
    <Logger name="io.github.dbstarll.utils.openai" level="trace"/>
    <Logger name="org.springframework.boot.context.config.ConfigDataLoaders" level="trace"/>
    <Logger name="_org.springframework.web.servlet.HandlerMapping.Mappings" level="debug"/>
  </Loggers>
</Configuration>
